##
# {{ ansible_managed }}
#

output {
  if "_grokparsefailure" in [tags] {
    stdout {
      codec => rubydebug
    }
  } else {
    if [type] == "nginx-timing" {
      udp {
        host => "{{ datadog_statsd_host|default('localhost') }}"
        port => {{ datadog_statsd_port|default(8125) }}
        codec => plain {
            format => "nginx.timings:%{request_time}|g|#environment:{{ env_monitoring_id }},domain:%{domain},http_method:%{http_method},status_code:%{status_code},url_group:%{url_group},,group:proxy,referer_group:%{referer_group}"
        }
        id => "logstash-nginx-timings"
      }

      udp {
        host => "{{ datadog_statsd_host|default('localhost') }}"
        port => {{ datadog_statsd_port|default(8125) }}
        codec => plain {
            format => "nginx.requests:1|c|#environment:{{ env_monitoring_id }},domain:%{domain},http_method:%{http_method},status_code:%{status_code},url_group:%{url_group},cache_status:%{cache_status},group:proxy,referer_group:%{referer_group}"
        }
        id => "logstash-nginx-requests"
      }

      udp {
        host => "{{ datadog_statsd_host|default('localhost') }}"
        port => {{ datadog_statsd_port|default(8125) }}
        codec => plain {
            format => "nginx.apdex:%{apdex}|g|#environment:{{ env_monitoring_id }},domain:%{domain},http_method:%{http_method},status_code:%{status_code},url_group:%{url_group},group:proxy"
        }
        id => "logstash-nginx-apdex"
      }
    }

    if [type] == "nginx-error" {
      if [zone] {
          udp {
              host => "{{ datadog_statsd_host|default('localhost') }}"
              port => {{ datadog_statsd_port|default(8125) }}
              codec => plain {
                  format => "nginx.rate_limiting:1|c|#environment:{{ env_monitoring_id }},domain:%{domain},http_method:%{verb},zone:%{zone},group:proxy"
              }
              id => "logstash-nginx-error_zones"
            }

      } else {
          udp {
            host => "{{ datadog_statsd_host|default('localhost') }}"
            port => {{ datadog_statsd_port|default(8125) }}
            codec => plain {
                format => "nginx.error_logs:1|c|#environment:{{ env_monitoring_id }},domain:%{domain},http_method:%{verb},log_level:%{err_severity},error_type:%{err_message},group:proxy"
            }
            id => "logstash-nginx-error_logs"
          }
      }
    }
  }
}
